@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title
}

.chapeau {
  @apply w-[60%] left-[15%] top-0 h-auto
}
.noeud {
  @apply top-[23%] w-[7%] left-[40%] h-auto
}
.testament {
  @apply w-[35%] top-[14%] left-[35%] h-auto
}
.inventory {
  width: 40px;
}
.inventory .item {
  @apply w-full object-contain relative
}

/* VideoPlayer loader */
::after, ::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Loader 2 */
.loader-2 {

  position: absolute;
  top: -10%;
  left: -10%;
	height: 120%;
	width: 120%;
  transform: translate(-50%, -50%);
	-webkit-animation: loader-2-1 3s linear infinite;
	        animation: loader-2-1 3s linear infinite;
}
@-webkit-keyframes loader-2-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-2 span {
	display: block;
	position: absolute;
	inset: 0;
	margin: auto;
	height: 100%;
	width: 100%;
  --size: calc(100% - 1px);
	clip: rect(16px, var(--size), var(--size), 0);
	-webkit-animation: loader-2-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-2-2 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-2-2 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-2 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-2 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	border: 3px solid transparent;
	border-top: 3px solid #FFF;
	border-radius: 50%;
	-webkit-animation: loader-2-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-2-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-2-3 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2-3 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-2 span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 100%;
	width: 100%;
	border: 3px solid rgba(255, 255, 255, .5);
	border-radius: 50%;
}
/*----- VideoPlayer loader-----*/





@font-face {
  font-family: 'ClassicalRomance';
  font-style: normal;
  src: url('/fonts/ClassicalRomance-Bold.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/ClassicalRomance-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  src: url('/fonts/Raleway-Regular.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Raleway-Bold.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Raleway-Medium.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-Light';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Raleway-Light.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Raleway-SemiBold.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-Italic';
  font-style: italic;
  src: url('/fonts/Raleway-Italic.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-Italic.ttf') format('truetype')
}
