@tailwind base;
@tailwind components;
@tailwind utilities;


h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title
}

p {
  @apply font-texts font-normal
}

.chapeau {
  @apply top-[0.1rem] left-1/2 w-[51%] -translate-x-[56.5%];
}
.noeud {

}
.testament {

}

@font-face {
  font-family: 'ClassicalRomance';
  font-style: normal;
  src: url('/fonts/ClassicalRomance-Bold.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/ClassicalRomance-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'AddingtonCF';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/AddingtonCF-Light.otf');
  src: local(), url("/fonts/AddingtonCF-Light.otf") format("opentype");

}
@font-face {
  font-family: 'AddingtonCF';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/AddingtonCF-Regular.otf');
  src: local(), url("/fonts/AddingtonCF-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'AddingtonCF';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/AddingtonCF-Medium.otf');
  src: local(), url("/fonts/AddingtonCF-Medium.otf") format("opentype");
}
