@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title
}

.chapeau {
  @apply top-[0.1rem] left-1/2 w-[51%] -translate-x-[56.5%];
}
.noeud {
  @apply top-[42%] w-[10%] left-[33%]
}
.testament {

}
.inventory {
  width: 40px;
}
.inventory .item {
  @apply w-full object-contain relative
}

.controls {
  display: none !important;
}


@font-face {
  font-family: 'ClassicalRomance';
  font-style: normal;
  src: url('/fonts/ClassicalRomance-Bold.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/ClassicalRomance-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  src: url('/fonts/Raleway-Regular.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Raleway-Bold.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Raleway-Medium.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-Medium.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-Light';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Raleway-Light.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Raleway-SemiBold.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'Raleway-Italic';
  font-style: italic;
  src: url('/fonts/Raleway-Italic.ttf'); /* IE9 Compat Modes */
  src: local(), url('/fonts/Raleway-Italic.ttf') format('truetype')
}
